header img{
    height: 60px;
}
header img {
    height: 80px;
}
body {
    height: 169vh;
    background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 90px;
    padding: 30px;
}

main{
    color: white;
    display: inline;
}


header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black; 
    z-index: 100;
}
header *{
    display: inline;
}
header li{
    margin: 20px;
}
header li a{
color: #000;
text-decoration: none;
}

.first{
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    position: relative;
    left: 160px;

}

/* searchguestdatebutton */
.search-container {
    background-color: #fff;
    width: 900px;
    height: 40px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox to arrange items horizontally */
    flex-wrap: wrap; /* Wrap items to the next line if the container is too narrow */
    justify-content: space-between; /* Distribute space between items */
    box-shadow: 2px 1px 2px black;
}
.search-input {
    flex: 1; /* Allow each input to grow and take equal space */
    margin-right: 30px; /* Add some spacing between inputs */
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-bottom: 25x;
    margin-top: -7px;
    margin-left: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .input-type{
    border-radius: px;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn27 {
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }


  .row{
    background-color: white;
    width: 100%;
    height: 850px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 3px black;
}

.col{
    background-color: white;
    width: 200px;
    height: 300px;
    bottom: 90px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 2px 2px 3px black;
}
.col img{
    width: 200px;
    height: 300px;
}
p{
    color:black;
}
h3{
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}
.search-input input{
    border-radius: 50px;
}


.col2{
    background-color: white;
    width: 200px;
    height: 300px;
    bottom: 50px;
    margin-left: 10px;
    margin-bottom: -70px;
    border-radius: 0px;
    box-shadow: 2px 2px 3px black;
}
.col2 img{
    width: 200px;
    height: 300px;
}

.travel{
    position: relative;
    justify-content: center;
    left: 0px;
    bottom: 810px;

}
.travel h1{
    color: black;
    font-family: 'Cormorant Garamond', serif; 
    font-weight: bolder;
    text-align: center;
    font-size: 90px;
}